:host ::ng-deep .menu-button {
  box-shadow: none;
}

h2 {
  margin-top: 0;
}

.actions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  button, fs-menu {
    margin-bottom: 10px;
    margin-right: 5px;
  }
}

table td {
  padding: 3px;
}

.attention {
   display: flex;
   align-items: center;

   mat-icon {
     display: none;
     margin-left: 2px;
   }

   &.needs-attention {
    color: #cc0000;
    mat-icon {
      display: inline;
    }
   }
}

::ng-deep {
  .tooltip-pending-upgrades {
    white-space: pre-line;
  }
}


@media (max-width: 1000px) {
  :host ::ng-deep .menu-button {
    width: 100%;
    border-radius: 4px;
  }
}