<div *fsSkeleton="dashboard">
  <div class="fs-row.gap-lg.wrap.align-start">
    <div>
      <h2>
        Server
      </h2>
      <fs-label-field>
        <fs-label>
          Date/Time
        </fs-label>
        {{ dashboard.serverTime | fsDateFormat: 'date-time' }}
      </fs-label-field>
      <fs-label-field>
        <fs-label>
          Timezone
        </fs-label>
        {{ dashboard.serverTimezone }}
      </fs-label-field>
      <fs-label-field>
        <fs-label>
          Hostname
        </fs-label>
        {{ dashboard.serverHostname }}
      </fs-label-field>
      <fs-label-field>
        <fs-label>
          Directory
        </fs-label>
        {{ dashboard.appDirectory }}
      </fs-label-field>
    </div>
    <div>
      <h2>
        System
      </h2>
      <fs-label-field>
        <fs-label>
          Mode
        </fs-label>
        {{ dashboard.appMode }}
      </fs-label-field>
      <fs-label-field>
        <fs-label>
          Notification Recipients
        </fs-label>
        {{ dashboard.notifyRecipients.join(', ') }}
      </fs-label-field>
    </div>
    <div>
      <h2>
        Database
      </h2>
      <fs-label-field>
        <fs-label>
          Name
        </fs-label>
        {{ dashboard.databaseName }}
      </fs-label-field>
      <fs-label-field>
        <fs-label>
          Date/Time
        </fs-label>
        {{ dashboard.databaseTime | fsDateFormat: 'date-time' }}
      </fs-label-field>
      <fs-label-field>
        <fs-label>
          Timezone
        </fs-label>
        {{ dashboard.databaseTimezone }}
      </fs-label-field>
    </div>
    @if (build || dashboard.upgrades.length) {
      <div>
        @if (build) {
          <h2>
            Build
          </h2>
          <fs-label-field>
            <fs-label>
              Version
            </fs-label>
            {{ build.version || 'Unknown' }}
          </fs-label-field>
          <fs-label-field>
            <fs-label>
              Date
            </fs-label>
            {{ (build.date | fsDateFormat: 'date-time') || 'Unknown' }}
          </fs-label-field>
        }
        @if (dashboard.upgrades.length) {
          <fs-label-field>
            <fs-label>
              Pending Upgrades
            </fs-label>
            <span
              class="attention"
              [ngClass]="{ 'needs-attention': !!dashboard.upgrades.length }">
              {{ dashboard.upgrades.length }}
              <mat-icon
                [matTooltip]="dashboard.upgrades.join('\n')"
                matTooltipClass="tooltip-pending-upgrades">
                warning
              </mat-icon>
            </span>
          </fs-label-field>
        }
      </div>
    }
    <div>
      <h2>
        Cron
      </h2>
      <fs-label-field>
        <fs-label>
          Last Ran
        </fs-label>
        <span
          class="attention"
          [ngClass]="{ 'needs-attention': dashboard.cronRanAttention }">
          @if (!dashboard.cronRan) {
            <span>
              Never
            </span>
          }
          @if (dashboard.cronRan) {
            <span>
              {{ dashboard.cronRan | fsDateFormat: 'date-time' }}
            </span>
          }
          <mat-icon>
            warning
          </mat-icon>
        </span>
      </fs-label-field>
    </div>
  </div>
  <div>
    <div class="actions">
      <button
        mat-stroked-button
        (click)="upgradeClick()">
        Run Upgrades
      </button>
      <button
        mat-stroked-button
        (click)="initClick()">
        Init System
      </button>
      @for (action of buttonActions; track action) {
        <button
          mat-stroked-button
          (click)="actionClick(action)">
          {{ action.label }}
        </button>
      }
      @if (menuActions.length) {
        <fs-menu buttonClass="mat-stroked-button menu-button">
          @for (action of menuActions; track action) {
            <ng-template
              fs-menu-item
              (click)="actionClick(action)">
              {{ action.label }}
            </ng-template>
          }
        </fs-menu>
      }
    </div>
  </div>
</div>