<fs-examples [config]="config">
  <fs-example name="Dashboard" componentName="dashboard">
    <dashboard></dashboard>
  </fs-example>

  <fs-example name="Crons" componentName="crons">
    <crons></crons>
  </fs-example>

  <fs-example name="Settings" componentName="settings">
    <settings></settings>
  </fs-example>

  <fs-example name="Processes" componentName="processes">
    <processes></processes>
  </fs-example>

  <fs-example name="Server Logs" componentName="server-logs">
    <server-logs></server-logs>
  </fs-example>

  <fs-example name="Upgrade Logs" componentName="upgrade-logs">
    <upgrade-logs></upgrade-logs>
  </fs-example>

  <fs-example name="API Logs" componentName="api-logs">
    <api-logs></api-logs>
  </fs-example>

  <fs-example name="PHP Info" componentName="info">
    <info></info>
  </fs-example>

</fs-examples>
