<fs-dialog *fsSkeleton="apiLog">

  <div mat-dialog-title>API Log</div>

  <mat-dialog-content>
    <div class="fs-row.gap-lg.wrap.align-start">
      <fs-label-field>
        <fs-label>
          Type
        </fs-label>
        {{apiLog.type}}
      </fs-label-field>

      <fs-label-field>
        <fs-label>
          Status
        </fs-label>
        {{apiLogStates[apiLog.state]}}
      </fs-label-field>

      <fs-label-field *ngIf="apiLog.code">
        <fs-label>
          Code
        </fs-label>
        {{apiLog.code}}
      </fs-label-field>

      <fs-label-field>
        <fs-label>
          Date
        </fs-label>
        {{apiLog.createDate|fsDateFormat: 'full-date-time'}}
      </fs-label-field>

      <fs-label-field *ngIf="apiLog.direction">
        <fs-label>
          Direction
        </fs-label>
        {{apiLog.direction}}
      </fs-label-field>

      <fs-label-field *ngIf="apiLog.length">
        <fs-label>
          Duration
        </fs-label>
        {{ apiLog.length | fsDateDuration }}
      </fs-label-field>

      <ng-container *ngIf="apiLog.method">
        <fs-label-field *ngIf="apiLog.method">
          <fs-label>
            Method
          </fs-label>
          {{apiLog.method}}
        </fs-label-field>
      </ng-container>
    
      <fs-label-field *ngIf="apiLog.url">
        <fs-label>
          URL
        </fs-label>
        {{apiLog.url}}
      </fs-label-field>
    </div>

    <fs-label-field *ngIf="apiLog.message">
      <fs-label>
        Message
      </fs-label>
      {{apiLog.message}}
    </fs-label-field>

    <div>
      <fs-label-field *ngIf="apiLog.request">
        <fs-label>
          Request
        </fs-label>
        <pre>{{apiLog.request|json}}</pre>
      </fs-label-field>

      <fs-label-field *ngIf="apiLog.response">
        <fs-label>
          Response
        </fs-label>
        <pre>{{apiLog.response|json}}</pre>
      </fs-label-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button 
        mat-button 
        [mat-dialog-close]="true" 
        color="primary">
      Done
    </button>
  </mat-dialog-actions>
</fs-dialog>
