
<mat-accordion>
  <mat-expansion-panel hideToggle *ngFor="let group of groups">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="title-row">
          <div class="title">{{group || 'General'}}</div>
          <div class="actions">
            <button
              type="button"
              [matTooltip]="'Export ' + (group || 'General') + ' Settings'"
              mat-icon-button
              (click)="export($event, groupedSettings[group])">
              <mat-icon>cloud_download</mat-icon>
            </button>
            <button
              type="button"
              [matTooltip]="'Import ' + (group || 'General') + ' Settings'"
              mat-icon-button
              (click)="import($event, group)">
              <mat-icon>cloud_upload</mat-icon>
            </button>
          </div>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div hideToggle *ngFor="let setting of groupedSettings[group]">
      <mat-form-field class="full-width" *ngIf="setting.interfaceType===SettingInterfaceType.InputBox">
        <input
          matInput
          [placeholder]="setting.label"
          [(ngModel)]="setting.value"
          [name]="'setting_' + setting.id">
          <mat-hint>{{setting.instruction}}</mat-hint>
      </mat-form-field>

      <mat-form-field class="full-width" *ngIf="setting.interfaceType===SettingInterfaceType.Textarea">
        <textarea
          matInput
          [placeholder]="setting.label"
          [(ngModel)]="setting.value"
          [name]="'setting_' + setting.id">
        </textarea>
        <mat-hint>{{setting.instruction}}</mat-hint>
      </mat-form-field>

      <mat-form-field class="full-width" *ngIf="setting.interfaceType===SettingInterfaceType.DropDown">
        <mat-select
           [placeholder]="setting.label"
          [(ngModel)]="setting.value"
          [name]="'setting_' + setting.id">
          <mat-option *ngFor="let item of setting.values | keyNameValue" [value]="item.value">
            {{item.name}}
          </mat-option>
        </mat-select>
        <mat-hint>{{setting.instruction}}</mat-hint>
      </mat-form-field>

      <mat-form-field class="full-width" *ngIf="setting.interfaceType===SettingInterfaceType.Date">
        <input
          matInput
          fsDatePicker
          [placeholder]="setting.label"
          [(ngModel)]="setting.value"
          [name]="'setting_' + setting.id">
          <mat-hint>{{setting.instruction}}</mat-hint>
      </mat-form-field>

      <mat-form-field class="full-width" *ngIf="setting.interfaceType===SettingInterfaceType.Time">
        <input
          matInput
          fsTimePicker
          [placeholder]="setting.label"
          [(ngModel)]="setting.value"
          [name]="'setting_' + setting.id">
          <mat-hint>{{setting.instruction}}</mat-hint>
      </mat-form-field>

      <fs-file-picker
        *ngIf="setting.interfaceType===SettingInterfaceType.File"
        [allowRemove]="true"
        [allowDownload]="true"
        (select)="fileSelect.emit({ setting: setting, file: $event.file })"
        (remove)="fileRemove.emit(setting)"
        [url]="setting.value">
        <div fsFileLabel>{{setting.label}}</div>
      </fs-file-picker>
    </div>

    <button mat-raised-button color="primary" type="button" (click)="saveGroup(group)">Save</button>

  </mat-expansion-panel>

</mat-accordion>
