
<mat-accordion>
  <mat-expansion-panel hideToggle *ngFor="let group of groups">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{group || 'General'}}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div hideToggle *ngFor="let setting of groupedSettings[group]">

      <mat-form-field class="full-width" *ngIf="setting.interface_type===SettingInterfaceType.InputBox">
        <input
          matInput
          [placeholder]="setting.label"
          [(ngModel)]="setting.value"
          [name]="'setting_' + setting.id">
          <mat-hint>{{setting.instruction}}</mat-hint>
      </mat-form-field>

      <mat-form-field class="full-width" *ngIf="setting.interface_type===SettingInterfaceType.Textarea">
        <textarea
          matInput
          [placeholder]="setting.label"
          [(ngModel)]="setting.value"
          [name]="'setting_' + setting.id">
        </textarea>
        <mat-hint>{{setting.instruction}}</mat-hint>
      </mat-form-field>

      <mat-form-field class="full-width" *ngIf="setting.interface_type===SettingInterfaceType.DropDown">
        <mat-select
           [placeholder]="setting.label"
          [(ngModel)]="setting.value"
          [name]="'setting_' + setting.id">
          <mat-option *ngFor="let item of setting.values | keyNameValue" [value]="item.value">
            {{item.name}}
          </mat-option>
        </mat-select>
        <mat-hint>{{setting.instruction}}</mat-hint>
      </mat-form-field>

      <mat-form-field class="full-width" *ngIf="setting.interface_type===SettingInterfaceType.Date">
        <input
          matInput
          fsDatePicker
          [placeholder]="setting.label"
          [(ngModel)]="setting.value"
          [name]="'setting_' + setting.id">
          <mat-hint>{{setting.instruction}}</mat-hint>
      </mat-form-field>
    </div>

    <button mat-raised-button color="primary" type="button" (click)="saveGroup(group)">Save</button>

  </mat-expansion-panel>

</mat-accordion>
