<fs-list [config]="config">
  <fs-list-column>
    <ng-template fs-list-header>
      Name
    </ng-template>
    <ng-template
      fs-list-cell
      let-row="row">
      <a (click)="open(row)">
        {{ row.name }}
      </a>
      <small>
        {{ row.cronSetting?.description }}
      </small>
    </ng-template>
  </fs-list-column>
  <fs-list-column align="center">
    <ng-template fs-list-header>
      Status
    </ng-template>
    <ng-template
      fs-list-cell
      let-row="row">
      @if (row.host || row.processId) {
        <fs-popover
          [maxWidth]="null"
          [template]="statusPopover"
          [indication]="true"
          size="small">
          <ng-container *ngTemplateOutlet="status"></ng-container>
        </fs-popover>
        <ng-template #statusPopover>
          @if (row.host) {
            <div>
              Host: {{ row.host }}
            </div>
          }
          @if (row.processId) {
            <div>
              Process ID: {{ row.processId }}
            </div>
          }
          @if (row.processState) {
            <div>
              Process State: {{ CronProcessStates[row.processState] }}
            </div>
          }
        </ng-template>
      } @else {
        {{ CronStates[row.state] }}
      }
      <ng-template #status>
        {{ CronStates[row.state] }}
      </ng-template>
      @if (row.state === CronState.Running) {
        <div class="small">
          Duration: {{ row.runningDuration | fsDateDuration: { hours: true, minutes: true, seconds: true } }}
        </div>
      }
    </ng-template>
  </fs-list-column>
  <fs-list-column>
    <ng-template fs-list-header>
      Frequency
    </ng-template>
    <ng-template
      fs-list-cell
      let-row="row">
      {{ row.cronSetting?.summary }}
    </ng-template>
  </fs-list-column>
  <fs-list-column>
    <ng-template fs-list-header>
      Last Ran
    </ng-template>
    <ng-template
      fs-list-cell
      let-row="row">
      @if (row.duration===null) {
        Never
      } @else {
        <fs-date-ago [date]="row.createDate"></fs-date-ago>
        @if (row.duration) {
          <div
            class="small"
            >
            Duration: {{ row.duration | fsDateDuration: { hours: true, minutes: true, seconds: true } }}
          </div>
        }
      }
    </ng-template>
  </fs-list-column>
  <fs-list-column>
    <ng-template fs-list-header>
      Next Run
    </ng-template>
    <ng-template
      fs-list-cell
      let-row="row">
      @if (row.state !== CronState.Disabled) {
        <app-next-run [cron]="row"></app-next-run>
      }
    </ng-template>
  </fs-list-column>
  <fs-list-column>
    <ng-template fs-list-header>
      Timeout
    </ng-template>
    <ng-template
      fs-list-cell
      let-row="row">
      {{ row.cronSetting.timeout }}h
    </ng-template>
  </fs-list-column>
</fs-list>