
.actions {
  margin-bottom: 1.25em;
}

table td {
  padding: 3px;
}

.attention {
   display: flex;
   align-items: center;

   mat-icon {
     display: none;
     margin-left: 2px;
   }

   &.needs-attention {
    color: #cc0000;
    mat-icon {
      display: inline;
    }
   }
}


@media (max-width: 600px) {

  :host ::ng-deep .menu-button {
    width: 100%;
    border-radius: 4px;
  }

}

@media (min-width: 600px) {

  :host ::ng-deep .menu-button {
    box-shadow: none;
  }

}
