<fs-dialog *fsSkeleton="cron">
  <h1 mat-dialog-title>
    Cron
    <div class="small">
      {{ cron.name }}
    </div>
  </h1>
  <mat-dialog-content>
    <mat-tab-group (selectedIndexChange)="selectedIndexChange($event)">
      <mat-tab label="Overview">
        <div class="fs-row.gap-lg.wrap.align-start">
          <fs-label-field>
            <fs-label>
              Status
            </fs-label>
            {{ CronStates[cron.state] }}
          </fs-label-field>
          @if (cron.cronSetting) {
            <fs-label-field>
              <fs-label>
                Run Frequency
              </fs-label>
              {{ cron.cronSetting.summary }}
            </fs-label-field>
          }
          <fs-label-field>
            <fs-label>
              Process ID
            </fs-label>
            {{ cron.processId || 'None' }}
            @if (cron.processId) {
              <div class="small">
                {{ CronProcessStates[cron.processState] || 'Unknown' }}
              </div>
            }
          </fs-label-field>
          <fs-label-field>
            <fs-label>
              Last Ran
            </fs-label>
            @if (cron.duration===null) {
              Never
            } @else {
              <fs-date-ago [date]="cron.createDate"></fs-date-ago>
              <div>
                @if (cron.duration) {
                  <small>
                    Duration: {{ cron.duration | fsDateDuration }}
                  </small>
                }
              </div>
            }
          </fs-label-field>
          <fs-label-field>
            <fs-label>
              Timeout hours
            </fs-label>
            {{ cron.cronSetting?.timeout || 'N/A' }}
          </fs-label-field>
        </div>
        @if (cron.message) {
          <fs-label-field>
            <fs-label>
              Last Message
            </fs-label>
            <div class="message">
              {{ cron.message }}
            </div>
          </fs-label-field>
        }
      </mat-tab>
      <mat-tab label="Logs">
        <ng-template matTabContent>
          <app-cron-logs [cron]="cron"></app-cron-logs>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button
      mat-button
      [mat-dialog-close]="true"
      color="primary">
      Done
    </button>
    @if (tabIndex === 0) {
      @for (cronAction of cronActions; track cronAction) {
        <button
          mat-button
          (click)="cronActionClick(cronAction)">
          {{ cronAction.label }}
        </button>
      }
    }
  </mat-dialog-actions>
</fs-dialog>