<fs-list [config]="config">
  <fs-list-column
    name="state"
    title="Status">
    <ng-template
      fs-list-cell
      let-row="row">
      <a
        (click)="cronLogOpen(row)"
        [ngStyle]="{ color: CronLogStateColors[row.state] }">
        {{ CronLogStates[row.state] || row.state }}
      </a>
    </ng-template>
  </fs-list-column>
  <fs-list-column
    title="Message"
    class="col-message">
    <ng-template
      fs-list-cell
      let-row="row">
      <div class="message">
        {{ row.message }}
      </div>
    </ng-template>
  </fs-list-column>
  <fs-list-column
    title="Duration"
    class="col-message">
    <ng-template
      fs-list-cell
      let-row="row">
      @if (row.duration) {
        {{ row.duration | fsDateDuration: 'hour-minute-second' }}
      }
    </ng-template>
  </fs-list-column>
  <fs-list-column
    name="create_date"
    title="Date"
    class="col-date">
    <ng-template
      fs-list-cell
      let-row="row">
      <fs-date-ago [date]="row.createDate"></fs-date-ago>
    </ng-template>
  </fs-list-column>
</fs-list>