<fs-list [config]="config">
  <fs-list-column width="1%">
    <ng-template
        fs-list-cell
        let-row="row">
      <a (click)="toggleAcknowledged(row)">
        <fs-badge
          [size]="10"
          [tooltip]="row.acknowledged ? 'Acknowledged' : 'Unacknowledged'"
          [color]="row.acknowledged ? '#E3E3E3' : '#F30000'">
        </fs-badge>
      </a>
    </ng-template>
  </fs-list-column>
  <fs-list-column>
    <ng-template fs-list-header>
      Message
    </ng-template>
    <ng-template
        fs-list-cell
        let-row="row">
      <a
          href="javascript:;"
          (click)="open(row)">
        {{ row.message }}
      </a>
    </ng-template>
  </fs-list-column>
  <fs-list-column class="col-date">
    <ng-template fs-list-header>
      Type
    </ng-template>
    <ng-template
        fs-list-cell
        let-row="row">
      {{ LogTypes[row.type] }}
    </ng-template>
  </fs-list-column>
  <fs-list-column class="col-date">
    <ng-template fs-list-header>
      Date
    </ng-template>
    <ng-template
        fs-list-cell
        let-row="row">
      <fs-date-ago [date]="row.createDate"></fs-date-ago>
    </ng-template>
  </fs-list-column>
</fs-list>