<fs-list [config]="config">
  <fs-list-column>
    <ng-template fs-list-header>Name</ng-template>
    <ng-template fs-list-cell let-row="row">
      {{row.name}}
    </ng-template>
  </fs-list-column>

  <fs-list-column>
    <ng-template fs-list-header>Function</ng-template>
    <ng-template fs-list-cell let-row="row">
      {{row.function}}()
    </ng-template>
  </fs-list-column>

  <fs-list-column>
    <ng-template fs-list-header>Date</ng-template>
    <ng-template fs-list-cell let-row="row">
      <fs-date-ago [date]="row.create_date"></fs-date-ago>
    </ng-template>
  </fs-list-column>
</fs-list>