{
  "fetchedAt": "2026-06-12T10:32:38.396Z",
  "apiUrl": "https://fs.specify.com/api/",
  "spec": {
    "openapi": "3.0.3",
    "info": {
      "title": "Specify Firestitch API",
      "version": "1.0.0",
      "description": "API documentation for Specify Firestitch"
    },
    "servers": [
      {
        "url": "https://fs.specify.com/api",
        "description": "API Server"
      }
    ],
    "paths": {
      "/account": {
        "get": {
          "summary": "Get current account",
          "operationId": "account",
          "tags": [
            "Api"
          ],
          "description": "Get current account",
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 200
                      },
                      "message": {
                        "type": "string",
                        "example": "OK"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "object",
                              "properties": {
                                "account": {
                                  "$ref": "#/components/schemas/account"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 400
                      },
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/accounts": {
        "get": {
          "summary": "Get list of accounts",
          "operationId": "accountsGets",
          "tags": [
            "Api"
          ],
          "description": "Get list of accounts",
          "parameters": [
            {
              "name": "environmentId",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "Environment ID to filter by"
            },
            {
              "name": "addresses",
              "in": "query",
              "required": false,
              "schema": {
                "type": "boolean"
              },
              "description": "Whether to include addresses"
            },
            {
              "name": "keyword",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "Keyword to search for"
            },
            {
              "name": "state",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "State to filter by"
            },
            {
              "name": "priority",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "Priority to filter by"
            },
            {
              "name": "notAccountId",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "Account ID to exclude"
            },
            {
              "name": "type",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "Account type to filter by"
            },
            {
              "name": "avatars",
              "in": "query",
              "required": false,
              "schema": {
                "type": "boolean"
              },
              "description": "Whether to include avatars"
            },
            {
              "name": "aclObjects",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "ACL objects"
            },
            {
              "name": "aclRoleIds",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "ACL role IDs"
            },
            {
              "name": "aclRoleLevel",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "ACL role level"
            },
            {
              "name": "aclEntries",
              "in": "query",
              "required": false,
              "schema": {
                "type": "boolean"
              },
              "description": "Whether to include ACL entries"
            },
            {
              "name": "aclEntryEnvironmentId",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "ACL entry environment ID"
            },
            {
              "name": "environmentAccounts",
              "in": "query",
              "required": false,
              "schema": {
                "type": "boolean"
              },
              "description": "Whether to include environment accounts"
            },
            {
              "name": "aclEntryObjects",
              "in": "query",
              "required": false,
              "schema": {
                "type": "boolean"
              },
              "description": "Whether to include ACL entry objects"
            },
            {
              "name": "aclEntryAclRoles",
              "in": "query",
              "required": false,
              "schema": {
                "type": "boolean"
              },
              "description": "Whether to include ACL entry roles"
            },
            {
              "name": "aclEntryAclRolePermissions",
              "in": "query",
              "required": false,
              "schema": {
                "type": "boolean"
              },
              "description": "Whether to include ACL entry role permissions"
            },
            {
              "name": "aclRoles",
              "in": "query",
              "required": false,
              "schema": {
                "type": "boolean"
              },
              "description": "Whether to include ACL roles"
            },
            {
              "name": "aclRoleLevels",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "ACL role levels"
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 200
                      },
                      "message": {
                        "type": "string",
                        "example": "OK"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "object",
                              "properties": {
                                "accounts": {
                                  "type": "array",
                                  "items": {
                                    "$ref": "#/components/schemas/account"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 400
                      },
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "post": {
          "summary": "Create a new account",
          "operationId": "accountsPost",
          "tags": [
            "Api"
          ],
          "description": "Create a new account",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "state": {
                      "type": "string",
                      "description": "State of the account"
                    },
                    "firstName": {
                      "type": "string",
                      "description": "First name of the account"
                    },
                    "lastName": {
                      "type": "string",
                      "description": "Last name of the account"
                    },
                    "email": {
                      "type": "string",
                      "description": "Email of the account"
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the account"
                    },
                    "priority": {
                      "type": "string",
                      "description": "Priority of the account"
                    },
                    "phone": {
                      "type": "string",
                      "description": "Phone of the account"
                    },
                    "apiKey": {
                      "type": "string",
                      "description": "API key"
                    },
                    "apiSecret": {
                      "type": "string",
                      "description": "API secret"
                    },
                    "timezone": {
                      "type": "string",
                      "description": "Timezone"
                    },
                    "digestFrequency": {
                      "type": "string",
                      "description": "Digest frequency"
                    },
                    "conversationUnreadNotifyMinutes": {
                      "type": "string",
                      "description": "Conversation unread notify minutes"
                    },
                    "force2fa": {
                      "type": "boolean",
                      "description": "Force 2FA"
                    },
                    "address": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Address object"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 200
                      },
                      "message": {
                        "type": "string",
                        "example": "OK"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "object",
                              "properties": {
                                "account": {
                                  "$ref": "#/components/schemas/account"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 400
                      },
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/accounts/notifications": {
        "get": {
          "summary": "Get list of notifications",
          "operationId": "notifications",
          "tags": [
            "Api"
          ],
          "description": "Get list of notifications",
          "parameters": [
            {
              "name": "environmentId",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "Environment ID to filter by"
            },
            {
              "name": "objects",
              "in": "query",
              "required": false,
              "schema": {
                "type": "boolean"
              },
              "description": "Whether to include objects"
            },
            {
              "name": "objectIdentifiers",
              "in": "query",
              "required": false,
              "schema": {
                "type": "boolean"
              },
              "description": "Whether to include object identifiers"
            },
            {
              "name": "projects",
              "in": "query",
              "required": false,
              "schema": {
                "type": "boolean"
              },
              "description": "Whether to include projects"
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 200
                      },
                      "message": {
                        "type": "string",
                        "example": "OK"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "notifications": {
                            "type": "array",
                            "items": {
                              "type": "object"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 400
                      },
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/accounts/notifications/read/all": {
        "put": {
          "summary": "Mark all notifications as read",
          "operationId": "notificationsReadAll",
          "tags": [
            "Api"
          ],
          "description": "Mark all notifications as read",
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 200
                      },
                      "message": {
                        "type": "string",
                        "example": "OK"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 400
                      },
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/accounts/notifications/unread": {
        "get": {
          "summary": "Get unread notification count",
          "operationId": "notificationsUnreadGet",
          "tags": [
            "Api"
          ],
          "description": "Get unread notification count",
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 200
                      },
                      "message": {
                        "type": "string",
                        "example": "OK"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "unread": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 400
                      },
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "put": {
          "summary": "Mark notification as unread",
          "operationId": "notificationsUnreadPut",
          "tags": [
            "Api"
          ],
          "description": "Mark notification as unread",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "notificationId": {
                      "type": "string",
                      "description": "Notification ID"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 200
                      },
                      "message": {
                        "type": "string",
                        "example": "OK"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 400
                      },
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/accounts/notifications/{notificationId}/read": {
        "put": {
          "summary": "Mark notification as read",
          "operationId": "notificationsRead",
          "tags": [
            "Api"
          ],
          "description": "Mark notification as read",
          "parameters": [
            {
              "name": "notificationId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 200
                      },
                      "message": {
                        "type": "string",
                        "example": "OK"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 400
                      },
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/accounts/password/change": {
        "put": {
          "summary": "Change password",
          "operationId": "passwordChange",
          "tags": [
            "Api"
          ],
          "description": "Change password",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "password": {
                      "type": "string",
                      "description": "New password"
                    },
                    "currentPassword": {
                      "type": "string",
                      "description": "Current password"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 200
                      },
                      "message": {
                        "type": "string",
                        "example": "OK"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 400
                      },
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/accounts/password/change/force": {
        "post": {
          "summary": "Force password change",
          "operationId": "forcePasswordChange",
          "tags": [
            "Api"
          ],
          "description": "Force password change",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "password": {
                      "type": "string",
                      "description": "New password"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 200
                      },
                      "message": {
                        "type": "string",
                        "example": "OK"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 400
                      },
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/accounts/permissions": {
        "get": {
          "summary": "Get permissions",
          "operationId": "permissions",
          "tags": [
            "Api"
          ],
          "description": "Get permissions",
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 200
                      },
                      "message": {
                        "type": "string",
                        "example": "OK"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 400
                      },
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/accounts/recent/projects": {
        "post": {
          "summary": "Add recent project",
          "operationId": "recentProjects",
          "tags": [
            "Api"
          ],
          "description": "Add recent project",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "projectId": {
                      "type": "string",
                      "description": "Project ID"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 200
                      },
                      "message": {
                        "type": "string",
                        "example": "OK"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 400
                      },
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/accounts/socialaccount": {
        "get": {
          "summary": "Get social account",
          "operationId": "socialaccount",
          "tags": [
            "Api"
          ],
          "description": "Get social account",
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 200
                      },
                      "message": {
                        "type": "string",
                        "example": "OK"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object"
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 400
                      },
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/accounts/verify": {
        "post": {
          "summary": "Verify account",
          "operationId": "verify",
          "tags": [
            "Api"
          ],
          "description": "Verify account",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "password": {
                      "type": "string",
                      "description": "Password to verify"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 200
                      },
                      "message": {
                        "type": "string",
                        "example": "OK"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 400
                      },
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/accounts/{accountId}": {
        "get": {
          "summary": "Get a single account by ID",
          "operationId": "accountsGet",
          "tags": [
            "Api"
          ],
          "description": "Get a single account by ID",
          "parameters": [
            {
              "name": "accountId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "environmentId",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "Environment ID to filter by"
            },
            {
              "name": "addresses",
              "in": "query",
              "required": false,
              "schema": {
                "type": "boolean"
              },
              "description": "Whether to include addresses"
            },
            {
              "name": "keyword",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "Keyword to search for"
            },
            {
              "name": "state",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "State to filter by"
            },
            {
              "name": "priority",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "Priority to filter by"
            },
            {
              "name": "notAccountId",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "Account ID to exclude"
            },
            {
              "name": "type",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "Account type to filter by"
            },
            {
              "name": "avatars",
              "in": "query",
              "required": false,
              "schema": {
                "type": "boolean"
              },
              "description": "Whether to include avatars"
            },
            {
              "name": "aclObjects",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "ACL objects"
            },
            {
              "name": "aclRoleIds",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "ACL role IDs"
            },
            {
              "name": "aclRoleLevel",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "ACL role level"
            },
            {
              "name": "aclEntries",
              "in": "query",
              "required": false,
              "schema": {
                "type": "boolean"
              },
              "description": "Whether to include ACL entries"
            },
            {
              "name": "aclEntryEnvironmentId",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "ACL entry environment ID"
            },
            {
              "name": "environmentAccounts",
              "in": "query",
              "required": false,
              "schema": {
                "type": "boolean"
              },
              "description": "Whether to include environment accounts"
            },
            {
              "name": "aclEntryObjects",
              "in": "query",
              "required": false,
              "schema": {
                "type": "boolean"
              },
              "description": "Whether to include ACL entry objects"
            },
            {
              "name": "aclEntryAclRoles",
              "in": "query",
              "required": false,
              "schema": {
                "type": "boolean"
              },
              "description": "Whether to include ACL entry roles"
            },
            {
              "name": "aclEntryAclRolePermissions",
              "in": "query",
              "required": false,
              "schema": {
                "type": "boolean"
              },
              "description": "Whether to include ACL entry role permissions"
            },
            {
              "name": "aclRoles",
              "in": "query",
              "required": false,
              "schema": {
                "type": "boolean"
              },
              "description": "Whether to include ACL roles"
            },
            {
              "name": "aclRoleLevels",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "ACL role levels"
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 200
                      },
                      "message": {
                        "type": "string",
                        "example": "OK"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "object",
                              "properties": {
                                "account": {
                                  "$ref": "#/components/schemas/account"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 400
                      },
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "put": {
          "summary": "Update an account",
          "operationId": "accountsPut",
          "tags": [
            "Api"
          ],
          "description": "Update an account",
          "parameters": [
            {
              "name": "accountId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "state": {
                      "type": "string",
                      "description": "State of the account"
                    },
                    "firstName": {
                      "type": "string",
                      "description": "First name of the account"
                    },
                    "lastName": {
                      "type": "string",
                      "description": "Last name of the account"
                    },
                    "email": {
                      "type": "string",
                      "description": "Email of the account"
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the account"
                    },
                    "priority": {
                      "type": "string",
                      "description": "Priority of the account"
                    },
                    "phone": {
                      "type": "string",
                      "description": "Phone of the account"
                    },
                    "apiKey": {
                      "type": "string",
                      "description": "API key"
                    },
                    "apiSecret": {
                      "type": "string",
                      "description": "API secret"
                    },
                    "timezone": {
                      "type": "string",
                      "description": "Timezone"
                    },
                    "digestFrequency": {
                      "type": "string",
                      "description": "Digest frequency"
                    },
                    "conversationUnreadNotifyMinutes": {
                      "type": "string",
                      "description": "Conversation unread notify minutes"
                    },
                    "force2fa": {
                      "type": "boolean",
                      "description": "Force 2FA"
                    },
                    "address": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Address object"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 200
                      },
                      "message": {
                        "type": "string",
                        "example": "OK"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "object",
                              "properties": {
                                "account": {
                                  "$ref": "#/components/schemas/account"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 400
                      },
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "delete": {
          "summary": "Delete an account",
          "operationId": "accountsDelete",
          "tags": [
            "Api"
          ],
          "description": "Delete an account",
          "parameters": [
            {
              "name": "accountId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 200
                      },
                      "message": {
                        "type": "string",
                        "example": "OK"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "object",
                              "properties": {
                                "account": {
                                  "$ref": "#/components/schemas/account"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 400
                      },
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/accounts/{accountId}/activation/activate": {
        "post": {
          "summary": "Activate an account",
          "operationId": "activate",
          "tags": [
            "Api"
          ],
          "description": "Activate an account",
          "parameters": [
            {
              "name": "accountId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 200
                      },
                      "message": {
                        "type": "string",
                        "example": "OK"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "object",
                              "properties": {
                                "account": {
                                  "$ref": "#/components/schemas/account"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 400
                      },
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/accounts/{accountId}/activation/email": {
        "post": {
          "summary": "Resend activation email",
          "operationId": "activationEmail",
          "tags": [
            "Api"
          ],
          "description": "Resend activation email",
          "parameters": [
            {
              "name": "accountId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 200
                      },
                      "message": {
                        "type": "string",
                        "example": "OK"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object"
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 400
                      },
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/accounts/{accountId}/environments/{environmentId}/switch": {
        "post": {
          "summary": "Switch environment",
          "operationId": "environmentSwitch",
          "tags": [
            "Api"
          ],
          "description": "Switch environment",
          "parameters": [
            {
              "name": "accountId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "environmentId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 200
                      },
                      "message": {
                        "type": "string",
                        "example": "OK"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object"
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 400
                      },
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/accounts/{accountId}/password/reset": {
        "put": {
          "summary": "Reset password",
          "operationId": "passwordReset",
          "tags": [
            "Api"
          ],
          "description": "Reset password",
          "parameters": [
            {
              "name": "accountId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "password": {
                      "type": "string",
                      "description": "New password"
                    },
                    "changePassword": {
                      "type": "boolean",
                      "description": "Whether to change password"
                    },
                    "emailPassword": {
                      "type": "boolean",
                      "description": "Whether to email password"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 200
                      },
                      "message": {
                        "type": "string",
                        "example": "OK"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 400
                      },
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/accounts/{accountId}/undelete": {
        "post": {
          "summary": "Undelete an account",
          "operationId": "undelete",
          "tags": [
            "Api"
          ],
          "description": "Undelete an account",
          "parameters": [
            {
              "name": "accountId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "state": {
                      "type": "string",
                      "description": "State to restore to"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 200
                      },
                      "message": {
                        "type": "string",
                        "example": "OK"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "object",
                              "properties": {
                                "account": {
                                  "$ref": "#/components/schemas/account"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 400
                      },
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/acl/config": {
        "get": {
          "summary": "Get ACL configuration",
          "operationId": "config",
          "tags": [
            "Api"
          ],
          "description": "Get ACL configuration",
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 200
                      },
                      "message": {
                        "type": "string",
                        "example": "OK"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "object",
                              "properties": {
                                "permissions": {
                                  "type": "array",
                                  "items": {
                                    "type": "object"
                                  }
                                },
                                "accesses": {
                                  "type": "array",
                                  "items": {
                                    "type": "object"
                                  }
                                },
                                "levels": {
                                  "type": "array",
                                  "items": {
                                    "type": "object"
                                  }
                                },
                                "roleConfigs": {
                                  "type": "array",
                                  "items": {
                                    "type": "object"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 400
                      },
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/acl/configs": {
        "get": {
          "summary": "Get ACL configs",
          "operationId": "configs",
          "tags": [
            "Api"
          ],
          "description": "Get ACL configs",
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 200
                      },
                      "message": {
                        "type": "string",
                        "example": "OK"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "object"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 400
                      },
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/acl/entries": {
        "get": {
          "summary": "Get list of ACL entries",
          "operationId": "entriesGets",
          "tags": [
            "Api"
          ],
          "description": "Get list of ACL entries",
          "parameters": [
            {
              "name": "accounts",
              "in": "query",
              "required": false,
              "schema": {
                "type": "boolean"
              },
              "description": "Whether to include accounts"
            },
            {
              "name": "environments",
              "in": "query",
              "required": false,
              "schema": {
                "type": "boolean"
              },
              "description": "Whether to include environments"
            },
            {
              "name": "aclRoles",
              "in": "query",
              "required": false,
              "schema": {
                "type": "boolean"
              },
              "description": "Whether to include ACL roles"
            },
            {
              "name": "aclRolePermissions",
              "in": "query",
              "required": false,
              "schema": {
                "type": "boolean"
              },
              "description": "Whether to include ACL role permissions"
            },
            {
              "name": "aclRoleAclPermissions",
              "in": "query",
              "required": false,
              "schema": {
                "type": "boolean"
              },
              "description": "Whether to include ACL role ACL permissions"
            },
            {
              "name": "objects",
              "in": "query",
              "required": false,
              "schema": {
                "type": "boolean"
              },
              "description": "Whether to include objects"
            },
            {
              "name": "aclRoleId",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "ACL role ID to filter by"
            },
            {
              "name": "level",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "Level to filter by"
            },
            {
              "name": "aclRoleState",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "ACL role state to filter by"
            },
            {
              "name": "accountState",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "Account state to filter by"
            },
            {
              "name": "accountId",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "Account ID to filter by"
            },
            {
              "name": "objectId",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "Object ID to filter by"
            },
            {
              "name": "keyword",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "Keyword to search for"
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 200
                      },
                      "message": {
                        "type": "string",
                        "example": "OK"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "object",
                              "properties": {
                                "aclEntries": {
                                  "$ref": "#/components/schemas/acl-entry"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 400
                      },
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/acl/entries/bulk": {
        "post": {
          "summary": "Bulk add ACL entries",
          "operationId": "entriesBulk",
          "tags": [
            "Api"
          ],
          "description": "Bulk add ACL entries",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "objects": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Objects to add ACL entries to"
                    },
                    "accountId": {
                      "type": "integer",
                      "description": "Account ID"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 200
                      },
                      "message": {
                        "type": "string",
                        "example": "OK"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 400
                      },
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/acl/entries/clear": {
        "post": {
          "summary": "Clear ACL entries",
          "operationId": "entriesClear",
          "tags": [
            "Api"
          ],
          "description": "Clear ACL entries",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accountId": {
                      "type": "integer",
                      "description": "Account ID"
                    },
                    "level": {
                      "type": "string",
                      "description": "Level"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 200
                      },
                      "message": {
                        "type": "string",
                        "example": "OK"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 400
                      },
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/acl/entries/{aclEntryId}": {
        "get": {
          "summary": "Get a single ACL entry by ID",
          "operationId": "entriesGet",
          "tags": [
            "Api"
          ],
          "description": "Get a single ACL entry by ID",
          "parameters": [
            {
              "name": "aclEntryId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "accounts",
              "in": "query",
              "required": false,
              "schema": {
                "type": "boolean"
              },
              "description": "Whether to include accounts"
            },
            {
              "name": "environments",
              "in": "query",
              "required": false,
              "schema": {
                "type": "boolean"
              },
              "description": "Whether to include environments"
            },
            {
              "name": "aclRoles",
              "in": "query",
              "required": false,
              "schema": {
                "type": "boolean"
              },
              "description": "Whether to include ACL roles"
            },
            {
              "name": "aclRolePermissions",
              "in": "query",
              "required": false,
              "schema": {
                "type": "boolean"
              },
              "description": "Whether to include ACL role permissions"
            },
            {
              "name": "aclRoleAclPermissions",
              "in": "query",
              "required": false,
              "schema": {
                "type": "boolean"
              },
              "description": "Whether to include ACL role ACL permissions"
            },
            {
              "name": "objects",
              "in": "query",
              "required": false,
              "schema": {
                "type": "boolean"
              },
              "description": "Whether to include objects"
            },
            {
              "name": "aclRoleId",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "ACL role ID to filter by"
            },
            {
              "name": "level",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "Level to filter by"
            },
            {
              "name": "aclRoleState",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "ACL role state to filter by"
            },
            {
              "name": "accountState",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "Account state to filter by"
            },
            {
              "name": "accountId",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "Account ID to filter by"
            },
            {
              "name": "objectId",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "Object ID to filter by"
            },
            {
              "name": "keyword",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "Keyword to search for"
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 200
                      },
                      "message": {
                        "type": "string",
                        "example": "OK"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "object",
                              "properties": {
                                "aclEntry": {
                                  "type": "array",
                                  "items": {
                                    "$ref": "#/components/schemas/acl-entry"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 400
                      },
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/acl/objects": {
        "get": {
          "summary": "Get list of objects",
          "operationId": "objects",
          "tags": [
            "Api"
          ],
          "description": "Get list of objects",
          "parameters": [
            {
              "name": "class",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "Object class to filter by"
            },
            {
              "name": "keyword",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "Keyword to search for"
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 200
                      },
                      "message": {
                        "type": "string",
                        "example": "OK"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "object",
                              "properties": {
                                "objects": {
                                  "type": "array",
                                  "items": {
                                    "type": "object"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 400
                      },
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/acl/roleconfigs": {
        "get": {
          "summary": "Get role configs",
          "operationId": "roleConfigs",
          "tags": [
            "Api"
          ],
          "description": "Get role configs",
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 200
                      },
                      "message": {
                        "type": "string",
                        "example": "OK"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "object",
                              "properties": {
                                "roleConfigs": {
                                  "type": "array",
                                  "items": {
                                    "type": "object"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 400
                      },
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/acl/roles": {
        "get": {
          "summary": "Get list of ACL roles",
          "operationId": "rolesGets",
          "tags": [
            "Api"
          ],
          "description": "Get list of ACL roles",
          "parameters": [
            {
              "name": "keyword",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "Keyword to search for"
            },
            {
              "name": "state",
              "in": "query",
              "required": false,
              "schema": {
                "$ref": "#/components/schemas/acl-role-state"
              },
              "description": "State to filter by"
            },
            {
              "name": "level",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "Level to filter by"
            },
            {
              "name": "allPermissions",
              "in": "query",
              "required": false,
              "schema": {
                "type": "boolean"
              },
              "description": "Whether to filter by all permissions"
            },
            {
              "name": "aclRoleConfigs",
              "in": "query",
              "required": false,
              "schema": {
                "type": "boolean"
              },
              "description": "Whether to include ACL role configs"
            },
            {
              "name": "aclPermissions",
              "in": "query",
              "required": false,
              "schema": {
                "type": "boolean"
              },
              "description": "Whether to include ACL permissions"
            },
            {
              "name": "permissions",
              "in": "query",
              "required": false,
              "schema": {
                "type": "boolean"
              },
              "description": "Whether to include permissions"
            },
            {
              "name": "reference",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "Reference to filter by"
            },
            {
              "name": "order",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "Order by field"
            },
            {
              "name": "limit",
              "in": "query",
              "required": false,
              "schema": {
                "type": "integer"
              },
              "description": "Max records to return"
            },
            {
              "name": "offset",
              "in": "query",
              "required": false,
              "schema": {
                "type": "integer"
              },
              "description": "Pagination offset"
            },
            {
              "name": "recordCount",
              "in": "query",
              "required": false,
              "schema": {
                "type": "boolean"
              },
              "description": "Include total record count"
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 200
                      },
                      "message": {
                        "type": "string",
                        "example": "OK"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "object",
                              "properties": {
                                "aclRoles": {
                                  "type": "array",
                                  "items": {
                                    "$ref": "#/components/schemas/acl-role"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 400
                      },
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "post": {
          "summary": "Create a new ACL role",
          "operationId": "rolesPost",
          "tags": [
            "Api"
          ],
          "description": "Create a new ACL role",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Role name"
                    },
                    "state": {
                      "$ref": "#/components/schemas/acl-role-state",
                      "description": "Role state"
                    },
                    "level": {
                      "type": "string",
                      "description": "Role level"
                    },
                    "allPermissions": {
                      "type": "boolean",
                      "description": "Whether role has all permissions"
                    },
                    "reference": {
                      "type": "string",
                      "description": "Role reference"
                    },
                    "description": {
                      "type": "string",
                      "description": "Role description"
                    },
                    "permissions": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Permissions array"
                    },
                    "aclRoleConfigs": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "ACL role configs array"
                    }
                  },
                  "required": [
                    "name"
                  ]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 200
                      },
                      "message": {
                        "type": "string",
                        "example": "OK"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "object",
                              "properties": {
                                "aclRole": {
                                  "$ref": "#/components/schemas/acl-role"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 400
                      },
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/acl/roles/{aclRoleId}": {
        "get": {
          "summary": "Get a single ACL role by ID",
          "operationId": "rolesGet",
          "tags": [
            "Api"
          ],
          "description": "Get a single ACL role by ID",
          "parameters": [
            {
              "name": "aclRoleId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "keyword",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "Keyword to search for"
            },
            {
              "name": "state",
              "in": "query",
              "required": false,
              "schema": {
                "$ref": "#/components/schemas/acl-role-state"
              },
              "description": "State to filter by"
            },
            {
              "name": "level",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "Level to filter by"
            },
            {
              "name": "allPermissions",
              "in": "query",
              "required": false,
              "schema": {
                "type": "boolean"
              },
              "description": "Whether to filter by all permissions"
            },
            {
              "name": "aclRoleConfigs",
              "in": "query",
              "required": false,
              "schema": {
                "type": "boolean"
              },
              "description": "Whether to include ACL role configs"
            },
            {
              "name": "aclPermissions",
              "in": "query",
              "required": false,
              "schema": {
                "type": "boolean"
              },
              "description": "Whether to include ACL permissions"
            },
            {
              "name": "permissions",
              "in": "query",
              "required": false,
              "schema": {
                "type": "boolean"
              },
              "description": "Whether to include permissions"
            },
            {
              "name": "reference",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "Reference to filter by"
            },
            {
              "name": "order",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "Order by field"
            },
            {
              "name": "limit",
              "in": "query",
              "required": false,
              "schema": {
                "type": "integer"
              },
              "description": "Max records to return"
            },
            {
              "name": "offset",
              "in": "query",
              "required": false,
              "schema": {
                "type": "integer"
              },
              "description": "Pagination offset"
            },
            {
              "name": "recordCount",
              "in": "query",
              "required": false,
              "schema": {
                "type": "boolean"
              },
              "description": "Include total record count"
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
[...]
