@import '../tools/assets/playground.scss';
@import '~@firestitch/message/styles';
@import "~@firestitch/drawer/styles";
@import "~@firestitch/file/styles";
@import '../src/app/styles.scss';

@include fs-drawer($mat-blue);
@include fs-file($mat-blue);
