.log {
  white-space: pre-line;
  font-family: monospace;
  font-size: 95%;
  line-height: 130%;
}

.status {
  display: flex;
  
  &.running {
    margin-right: 28px;

    mat-progress-spinner {
      position: absolute;
      right: -0;
    }
  }

}