<fs-dialog *fsSkeleton="process">
  <div mat-dialog-title>
    Process
  </div>
  <mat-dialog-content>
    <div class="column">
      <div class="fs-row.gap-lg.wrap.align-start">
        <fs-label-field>
          <fs-label>
            Name
          </fs-label>
          {{ process.prettyName }}
        </fs-label-field>
        <fs-label-field>
          <fs-label>
            Status
          </fs-label>
          <div
            class="status"
            [ngClass]="{ 'running': process.state === ProcessState.Running }">
            {{ ProcessStates[process.state] }}
            @if (process.state === ProcessState.Running) {
              <mat-progress-spinner
                [diameter]="20"
                [mode]="'indeterminate'">
              </mat-progress-spinner>
            }
          </div>
        </fs-label-field>
        @if (process.notify) {
          <fs-label-field>
            <fs-label>
              Notification Email
            </fs-label>
            {{ process.notify }}
          </fs-label-field>
        }
        <fs-label-field>
          <fs-label>
            Process ID
          </fs-label>
          {{ process.pid || 'None' }}
          @if (process.pid) {
            <div class="small">
              {{ ProcessProcessStates[process.processState] || 'Unknown' }}
            </div>
          }
        </fs-label-field>
        @if (process.createDate) {
          <fs-label-field>
            <fs-label>
              Create Date
            </fs-label>
            {{ process.createDate | fsDateFormat: 'date-time' }}
          </fs-label-field>
        }
        @if (process.startDate) {
          <fs-label-field>
            <fs-label>
              Start Date
            </fs-label>
            {{ process.startDate | fsDateFormat: 'date-time' }}
          </fs-label-field>
        }
        @if (process.endDate) {
          <fs-label-field>
            <fs-label>
              Complete Date
            </fs-label>
            {{ process.endDate | fsDateFormat: 'date-time' }}
          </fs-label-field>
        }
        @if (process.duration) {
          <fs-label-field>
            <fs-label>
              Duration
            </fs-label>
            {{ process.duration | fsDateDuration: {hours: true, minutes: true, seconds: true} }}
          </fs-label-field>
        }
      </div>
      @if (process.message) {
        <fs-label-field>
          <fs-label>
            Message
          </fs-label>
          {{ process.message }}
        </fs-label-field>
      }
      @if (process.log) {
        <fs-label-field>
          <fs-label>
            Log
          </fs-label>
          <div class="log">
            {{ process.log }}
          </div>
        </fs-label-field>
      }
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button
      mat-button
      [mat-dialog-close]="true"
      color="primary">
      Close
    </button>
    @if (process.state === ProcessState.Running) {
      <button
        mat-button
        (click)="kill()">
        Kill
      </button>
    }
    @if (process.state !== ProcessState.Running) {
      <button
        mat-button
        (click)="run()">
        Run
      </button>
    }
    @if ((
      process.state !== ProcessState.Running &&
      process.state !== ProcessState.Queued
      )) {
      <button
        mat-button
        (click)="queue()">
        Queue
      </button>
    }
    @if (process.filename) {
      <button
        mat-button
        (click)="download()">
        Download
      </button>
    }
  </mat-dialog-actions>
</fs-dialog>